---
title: article
priority: 0.8
---

= wrap_layout :layout do
  %article.article.container
    %h1.article__heading= current_article.data.title
    - if current_article.data.tagline
      %p.article__tagline= current_article.data.tagline

    .article__meta
      = partial 'blog/date'
      = partial 'blog/tags'

    .article__body
      = yield

    .article__comments
      = partial 'blog/comments'

    .article__archive
      = link_to archive_path do
        &larr;
        = I18n.t("articles.archive")
