!!! 5
%html{lang: I18n.locale}
  %head= partial 'head'

  %body.home{class: page_classes}
    = partial :nav, locals: { back: false, locale: true }

    %main.container= yield

    = partial :footer
    = partial :analytics
