!!! 5
%html{lang: I18n.locale}
  %head
    = partial 'head'

  %body.home{class: page_classes}
    = partial 'top', locals: { back: false, locale: true }

    #content
      .container
        .row
          .col-md-10.col-md-offset-1= yield

    = partial 'footer'
    = partial 'analytics'
