!!! 5
%html{lang: I18n.locale}
  %head
    = partial 'head'

  %body.page{class: page_classes}
    = partial 'top', locals: { locale: true }
    = partial 'header'

    #content
      .container
        .row
          .col-md-8.col-md-offset-2= yield

    = partial 'footer'
    = partial 'analytics'
