!!! 5
%html{lang: I18n.locale}
  %head= partial :head

  %body.page{class: page_classes}
    = partial :nav
    - unless home_page?
      = partial :header

    %main= yield

    = partial :footer
    = partial :analytics
