!!! 5
%html{lang: I18n.locale}
  %head= partial :head

  %body.page{class: page_classes}
    = partial :nav, locals: { locale: true }
    = partial :header

    %main.container= yield

    = partial :footer
    = partial :analytics
