!!! 5
%html{lang: I18n.locale}
  %head
    = partial 'head'

  %body.page{class: page_classes}
    = partial 'top', locals: { back: true, locale: true }
    = partial 'header'

    #content
      .container= yield

    = partial 'footer'
    = partial 'analytics'
