---
title: software developer &amp; consultant
---

%article#about
  :markdown
    Hi, I'm a *software developer* and *freelance consultant* based in Ciudad Real, Spain.

    I'm focused on *full-stack* web development with *Ruby on Rails*.

  .detail
    :markdown
      I'm currently enjoying my position as partner and lead developer at [aticoestudio.com](http://aticoestudio.com).

      I put code on [GitHub](http://github.com/danguita) and occasionally I write [blog posts](http://blog.davidanguita.name).

%aside#sidebar

  #avatar.sep-bottom
    %figure
      %img.photo{:alt => @config[:author], :src => gravatar(@config[:email], 228), :alt => 'david@davidanguita.name at Gravatar'}

  .social.sep-bottom
    %ul.network.inline.clearfix
      %li.first-child
        %a.komodomedia-twitter{:href => "http://twitter.com/#{@config[:uid][:twitter]}", :rel => "me external", :title => "Follow me on Twitter"}
      %li
        %a.komodomedia-facebook{:href => "http://facebook.com/#{@config[:uid][:facebook]}", :rel => "me external", :title => "Be my friend on Facebook"}
      %li
        %a.komodomedia-linkedin{:href => "http://linkedin.com/in/#{@config[:uid][:linkedin]}", :rel => "me external", :title => "Look at my professional profile on LinkedIn"}
      %li.list-child
        %a.komodomedia-github{:href => "http://github.com/#{@config[:uid][:github]}", :rel => "me external", :title => "Check my code"}

%article#services
  %h2.icon.gear.sep-bottom Services
  %ul.formatted
    %li.first-child Full-stack web development
    %li Ruby on Rails consulting
    %li Testing-based methdologies
    %li Scalability &amp; production environments
    %li.last-child Specialized training

%article#likes
  %h2.icon.favorites.sep-bottom Likes
  %ul.tags
    - %w(vim Ruby PHP OSX HTML5 tmux Twitter git GNU Linux CakePHP opensource Python TDD Rails nginx Xbox REST Japan NoSQL zsh Soraya github Agile UX MySQL jQuery 127.0.0.1 iPhone VirtualBox).each do |tag|
      %li= tag
