---
title: software developer
---

%article#about
  :markdown
    I'm a *software developer* based in Ciudad Real (Spain) mainly focused on *full-stack development* with [Ruby on Rails](http://rubyonrails.org).

    I'm currently enjoying my position as partner and lead developer at [aticoestudio.com](http://aticoestudio.com).

%aside#sidebar
  #avatar.border-radius.sep-bottom
    %figure
      %img.photo{:alt => @config[:author], :src => "#{@config[:assets_url]}/images/danguita.jpg"}
  .social.sep-bottom
    %h2 Network
    You can find me on
    %ul.network.inline.clearfix
      %li.first-child
        %a.komodomedia-twitter{:href => "http://twitter.com/#{@config[:uid][:twitter]}", :rel => "me external", :title => "Follow me on Twitter"}
      %li
        %a.komodomedia-facebook{:href => "http://facebook.com/#{@config[:uid][:facebook]}", :rel => "me external", :title => "Be my friend on Facebook"}
      %li
        %a.komodomedia-linkedin{:href => "http://linkedin.com/in/#{@config[:uid][:linkedin]}", :rel => "me external", :title => "Look at my professional profile on LinkedIn"}
      %li.list-child
        %a.komodomedia-github{:href => "http://github.com/#{@config[:uid][:github]}", :rel => "me external", :title => "Check my code"}

%article#skills
  %h2.icon.gear.sep-bottom Skills
  %ul.formatted
    %li.first-child Full-stack web development
    %li From back-end to front-end software architecture
    %li Agile methodologies
    %li Scalability &amp; high load infrastructure
    %li.last-child Always keep learning!

%article#likes
  %h2.icon.favorites.sep-bottom Tags
  %ul.tags
    - %w(vim Ruby PHP OSX HTML5 tmux Twitter git GNU Linux CakePHP opensource Python TDD Rails nginx Xbox REST Japan NoSQL zsh Soraya github Agile UX MySQL jQuery 127.0.0.1 iPhone VirtualBox).each do |tag|
      %li= tag
