.contact__item
  = link_to "mailto:#{data.settings.contact.email}", class: 'contact__link' do
    %i.icon.icon-mail
    Email

.contact__item
  = link_to data.settings.services.linkedin, class: 'contact__link' do
    %i.icon.icon-linkedin
    LinkedIn

.contact__item
  = link_to data.settings.services.github, class: 'contact__link' do
    %i.icon.icon-github
    GitHub

.contact__item
  = link_to data.settings.services.twitter, class: 'contact__link' do
    %i.icon.icon-twitter
    Twitter
