---
title: contact
priority: 0.8
---

%section.contact
  .well= partial "content/#{I18n.locale}/how-to-contact"

%section.hiring-options
  = partial "content/#{I18n.locale}/hiring-options"

%section.notes
  %h4= I18n.t('contact.contact-methods')

  .row
    .span2.offset1
      = link_to 'LinkedIn', data.settings.services.linkedin, :class => 'btn btn-block palette palette-night'
    .span2
      = link_to 'GitHub', data.settings.services.github, :class => 'btn btn-block palette palette-night'
    .span2
      = link_to 'Twitter', data.settings.services.twitter, :class => 'btn btn-block palette palette-night'
