---
layout: home
priority: 1.0
---

.home
  %section.home__introduction
    %header.page__header
      = link_to my_gravatar, 'index.html', class: 'avatar-wrapper'
      %h1.page__heading= I18n.t("home.heading")
      %p.page__tagline= I18n.t("home.tagline")

  .home__services
    - site_pages.each do |page|
      .services__item
        = link_to I18n.t("home.#{page}-label"), path_for(page), class: 'button services__link'

  .home__contact
    = partial :contact_methods

  .home__blog
    = I18n.t('home.my-blog')
    = link_to '"I solve problems"', data.settings.related.blog
