---
layout: home
priority: 1.0
---

%section.introduction
  = link_to image_tag(gravatar_for(data.settings.contact.email),
    class: 'img-circle', alt: 'David Anguita'), 'index.html'

  %h1#david-anguita
    %span David
    %span Anguita

  .introducing
    = partial "content/#{I18n.locale}/introducing-myself"
    = partial "content/#{I18n.locale}/introducing-services"

%section.tiles
  .row-fluid
    - %w(services methodology projects).each do |page|
      .span4
        .tile
          %h3= I18n.t("home.#{page}-title")
          %p= I18n.t("home.#{page}-description")
          = link_to I18n.t("home.#{page}-label"), page_path(page),
            class: 'btn btn-large btn-block btn-primary'

%section.contact
  .row-fluid
    .span3
      = mail_to data.settings.contact.email, 'Email',
        class: 'btn btn-large btn-block btn-inverse'
    .span3
      = link_to 'LinkedIn', data.settings.services.linkedin,
        class: 'btn btn-large btn-block btn-inverse'
    .span3
      = link_to 'GitHub', data.settings.services.github,
        class: 'btn btn-large btn-block btn-inverse'
    .span3
      = link_to 'Twitter', data.settings.services.twitter,
        class: 'btn btn-large btn-block btn-inverse'

%section.notes
  %h4= I18n.t('home.my-blog')
  = link_to '"I solve problems"', data.settings.related.blog,
    class: 'btn btn-large'
