---
title: projects
layout: projects
priority: 0.8
---

%section.project-selection
  .lead= I18n.t('projects.take-a-look')

  - data.projects[I18n.locale].each_slice(3) do |projects_row|
    .row
      - projects_row.each do |key, project|
        .span4
          = link_to "projects/#{key}.html",
            class: "project-#{key} project-sheet palette palette-clouds mbl btn",
            title: project[:name] do

            %h3= project[:name]
            = image_tag "projects/#{key}.jpg", alt: project[:name]
            %h6= project[:description]
