%footer
  .container
    .row
      .span6
        .footer-title
          %p
            %strong David Anguita
          %p
            = link_to 'email', 'mailto:david@davidanguita.name'
            \/
            = link_to 'linkedin', 'http://linkedin.com/in/danguita'
            \/
            = link_to 'github', 'http://github.com/danguita'
            \/
            = link_to 'twitter', 'http://twitter.com/danguita'
            \/
            = link_to 'blog', 'http://blog.davidanguita.name'
      .span6
        .footer-title
          .credits
            %p
              = link_to 'Acerca de este sitio', '/about-site'
            %p
              Código disponible en
              = link_to 'GitHub', 'https://github.com/danguita/davidanguita.name'
