---
title: contact
priority: 1.0
---

%section.page.contact-page.container
  .contact__how-to
    = partial "content/how-to-contact"

  .contact__hiring-options
    = partial "content/hiring-options"

  .contact__hiring-form
    <div id="wufoo-z1vlc28e08h2c45">
    Fill out my <a href="https://davidanguita.wufoo.com/forms/z1vlc28e08h2c45">online form</a>.
    </div>
    <script type="text/javascript">var z1vlc28e08h2c45;(function(d, t) {
    var s = d.createElement(t), options = {
    'userName':'davidanguita',
    'formHash':'z1vlc28e08h2c45',
    'autoResize':true,
    'height':'485',
    'async':true,
    'host':'wufoo.com',
    'header':'show',
    'ssl':true};
    s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
    s.onload = s.onreadystatechange = function() {
    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
    try { z1vlc28e08h2c45 = new WufooForm();z1vlc28e08h2c45.initialize(options);z1vlc28e08h2c45.display(); } catch (e) {}};
    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
    })(document, 'script');</script>

  .contact__methods
    %p= I18n.t('contact.contact-methods')
    = partial :contact_methods
    = partial :calendly_item

  .contact__pair-with-me
    %p= I18n.t('contact.pair-with-me')
    = mail_to data.settings.contact.email, '#PairWithMe',
      subject: 'Hey, PairWithMe', class: 'button'
