---
layout: home
---

%section.introduction
  .row
    = link_to image_tag(gravatar_for(data.settings.contact.email, 120), :class => 'img-circle', :alt => 'David Anguita'), '/'

    %h1 David Anguita

    %h4
      Hola, soy
      %strong desarrollador de software
      y
      %strong consultor independiente
      de Ciudad Real (Spain)

    %h4
      Dedico gran parte de mi tiempo a construir software de forma independiente y desde
      = link_to 'mi empresa', data.settings.related.company

%section.tiles
  .row
    .span4
      .tile
        %h3 Ruby on Rails
        %p Desarrollo back-end, front-end, entornos de producción y training
        = link_to 'Servicios', '/services', :class => 'btn btn-primary btn-large btn-block'
    .span4
      .tile
        %h3 Metodología
        %p Dedicación exclusiva. Desarrollo iterativo, robusto y mantenible
        = link_to 'Buscando la calidad', '/methodology', :class => 'btn btn-primary btn-large btn-block'
    .span4
      .tile
        %h3 Contacto
        %p Conoce como contactar conmigo y contratar mis servicios
        = link_to 'Hablemos', '/contact', :class => 'btn btn-primary btn-large btn-block'

%section.contact
  .row
    .span3
      = mail_to data.settings.contact.email, 'Email', :class => 'btn btn-block palette palette-night'
    .span3
      = link_to 'LinkedIn', data.settings.services.linkedin, :class => 'btn btn-block palette palette-night'
    .span3
      = link_to 'GitHub', data.settings.services.github, :class => 'btn btn-block palette palette-night'
    .span3
      = link_to 'Twitter', data.settings.services.twitter, :class => 'btn btn-block palette palette-night'

%section.notes
  .row
    %h4
      Ocasionalmente escribo en mi blog
    = link_to '"I solve problems"', data.settings.related.blog, :class => 'btn palette palette-asbestos'
