---
title: projects
priority: 0.8
---

%section.projects.container
  .projects__container
    - data.projects.each do |key, project|
      .projects__item
        = link_to "projects/#{key}.html", class: "project-#{key} project__link", title: project[:name] do
          %h3.project__name= project[:name]
          = image_tag "projects/#{key}.jpg", alt: project[:name], class: "project__image"
          .project__description= project[:description]

  .projects__clients
    .clients--title= I18n.t("clients.heading")
    = partial :clients
